<div class="form-group">
  <h3>Задание № 1</h3>
  <p>Создать Rails приложение для генерации карт Yandex или Google c размещеннием на них маркеров.
  <p>Сгенерированная ссылка на карту - ссылка которая позволяет увидеть данную карту в любом браузере.</p>
  <p><a href="http://ninjamock.com/s/qbxewy">Эскиз интерфейса</a>, остальное на ваш выбор (bootstrap, etc).</p>

  <h3>Задание № 2</h3>
  <p>Развернуть на heroku <a href="https://github.com/gottfrois/dashing-rails">Dashing</a>.</p>
  <p>Создать rails api, c тестовыми данными.</p>
  <p>Заливать данные в dashboard.</p>

  <h3>Задание № 3</h3>
  <p><a href="http://startbootstrap.com/template-overviews/freelancer/">Freelancer </a>
  внедрить в приложение rails, форма внизу создает запись в базе и отправку на мыло (любое).</p>
</div>
