<table class="table">
  <thead>
  <tr>
    <th colspan="2">Координаты (Ш/Д)</th>
    <th>Название</th>
    <th>Примечание</th>
    <th colspan="1"></th>
  </tr>
  </thead>
  <tbody id="markers">
    <%= render 'maps/markers/db_markers', map: map %>
  </tbody>
</table>
